<h1>Index Page</h1>
<div data-controller="search-films">
  <%= form_with url: films_path, method: :get, html: {data: { search_films_target: "form" }} do |f| %>
    <%= f.text_field :query,
                           class: "form-control",
                           value: params[:query],
                           data: {
                            action: "keyup->search-films#update",
                            search_films_target: "input"
                           },
                           placeholder: "Search for a film."

                           %>
  <% end %>
  <div class="pagination flex justify-center space-x-4 mt-5">
    <% if @pagination.current_page > 1 %>
      <%= link_to "Previous", films_path(page: @pagination.current_page - 1), class: 'btn btn-outline-dark btn-lg' %>
    <% end %>
    <% if @pagination.current_page < @pagination.total_pages %>
      <%= link_to "Next", films_path(page: @pagination.current_page + 1), class: 'btn btn-outline-dark btn-lg' %>
    <% end %>
  </div>
  <div data-search-films-target='list'>
    <%= render "list", films: @films %>
  </div>
</div>
